<div class="container mt-4">
  <div class="row mb-5">
    <div class="col">¡Visualiza las reservas!</div>
  </div>
  <div class="row my-5">
    <div class="col">
      <app-table
        [columns]="columns"
        [collection]="collection"
        (openModal)="openModal($event)"
      ></app-table>
    </div>
  </div>
</div>

<!-- Modal register - edit -->
<div
  class="modal fade"
  id="ModalDetalle"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeButton
        ></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let item of item">
          <p>Habitación: {{item.name_habitacion}}</p>
          <p>Hotel: {{item.name_hotel}}</p>
          <p>Pago: {{item.pago}}</p>
          <p>Medio de pago: {{item.medio_pago}}</p>
          <p>Fecha de Reserva: {{item.fecha_reserva}}</p>
          <p>Nombres: {{item.nombres}}</p>
          <p>Apellidos: {{item.apellidos}}</p>
          <p>Fecha de Nacimiento: {{item.fecha_nacimiento}}</p>
          <p>Género: {{item.genero}}</p>
          <p>Tipo de Documento: {{item.tipo_documento}}</p>
          <p>Número de documento: {{item.num_documento}}</p>
          <p>Correo: {{item.email}}</p>
          <p>Teléfono: {{item.telefono}}</p>
          <p>Contacto: {{item.nombre_contacto}}</p>
          <p>Teléfono del contacto: {{item.telefono_contacto}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
