<div class="container text-white">
  <div class="row my-4 ms-2 p-2" style="cursor: pointer;" [routerLink]="['hotel']">
    <div class="col-1 me-3"><i class="fa-solid fa-hotel"></i></div>
    <div class="col">Hoteles</div>
  </div>
  <div class="row my-4 ms-2 p-2" style="cursor: pointer;" [routerLink]="['rooms']">
    <div class="col-1 me-3"><i class="fa-solid fa-bed"></i></div>
    <div class="col">Habitaciones</div>
  </div>
  <div class="row my-4 ms-2 p-2" style="cursor: pointer;" [routerLink]="['reservas']" >
    <div class="col-1 me-3"><i class="fa-solid fa-address-book"></i></div>
    <div class="col">Reservas</div>
  </div>
  <hr class="my-4 bg-secondary" />
  <div class="row my-4 ms-2 p-2" style="cursor: pointer;" [routerLink]="['perfil']">
    <div class="col-1 me-3"><i class="fa-solid fa-user"></i></div>
    <div class="col">Perfil</div>
  </div>
</div>
