<div class="container mt-4">
  <div class="row mb-5">
    <div class="col">¡Gestiona las Habitaciones!</div>
  </div>
  <div class="row my-5 text-end">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#Modal"
        (click)="resetModal()"
      >
        Registrar Habitación
      </button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <app-table
        [columns]="columns"
        [collection]="collection"
        (openModal)="openModal($event)"
      ></app-table>
    </div>
  </div>
</div>

<app-alert [texto]="texto" [tipo]="tipo" *ngIf="alert"></app-alert>

<!-- Modal register - edit -->
<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ editItem ? "Editar" : "Registrar" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeButton
        ></button>
      </div>
      <form [formGroup]="roomForm" (ngSubmit)="submitForm()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              formControlName="nombre"
            />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              class="form-control"
              id="descripcion"
              name="descripcion"
              formControlName="descripcion"
            ></textarea>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="ubicacion" class="form-label">Ubicación</label>
              <input
                type="text"
                class="form-control"
                id="ubicacion"
                name="ubicacion"
                formControlName="ubicacion"
              />
            </div>
            <div class="mb-3">
              <label for="disponibilidad" class="form-label"
                >Disponibilidad</label
              >
              <select
                class="form-select"
                name="disponibilidad"
                formControlName="disponibilidad"
              >
              <option value="disponible">Disponible</option>
              <option value="no disponible">No Disponible</option>
            </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input
              type="text"
              class="form-control"
              id="tipo"
              name="tipo"
              formControlName="tipo"
            />
          </div>
          <div class="mb-3">
            <label for="costo" class="form-label">Costo</label>
            <input
              type="number"
              class="form-control"
              id="costo"
              name="costo"
              formControlName="costo"
            />
          </div>
          <div class="mb-3">
            <label for="impuesto" class="form-label">Impuesto</label>
            <input
              type="number"
              class="form-control"
              id="impuesto"
              name="impuesto"
              formControlName="impuesto"
            />
          </div>
          <div class="mb-3">
            <label for="hotel" class="form-label">Hotel</label>
            <select
              class="form-select"
              id="hotel"
              name="hotel"
              formControlName="hotel"
            >
              <option
                *ngFor="let hotel of hoteles"
                [value]="hotel.id + '-' + hotel.nombre"
              >
                {{ hotel.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer mb-3">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            *ngIf="!editItem && !loading"
            type="submit"
            class="btn btn-primary"
          >
            Registrar
          </button>
          <button *ngIf="loading" type="submit" class="btn btn-primary">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
          <button
            *ngIf="editItem && !loading"
            type="submit"
            class="btn btn-primary"
          >
            Editar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
